[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
yfinance = "*"
jupyterlab = "*"
numpy = "*"
yahoofinancials = "*"
matplotlib = "*"
numpy-financial = "*"
streamlit = "*"
watchdog = "*"
plotly = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
portfolio-analysis = {editable = true, path = "."}

[requires]
python_version = "3.8"

[scripts]
jupyter="jupyter lab"
