[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
yfinance = "*"
jupyterlab = "*"
numpy = "*"
yahoofinancials = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"


[requires]
python_version = "3.9"

[scripts]
jupyter="jupyter lab"
