[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
yfinance = "*"
jupyterlab = "*"
numpy = "*"
yahoofinancials = "*"
matplotlib = "*"
numpy-financial = "*"
watchdog = "*"
plotly = "*"
gunicorn = "*"
sklearn = "*"
google-cloud-datastore = "*"
google-cloud-storage = "*"
fredapi = "*"
openpyxl = "*"
spacy = "*"
pandas = "*"
filepath = "*"
tabula-py = "*"
xeus-python = "*"
pyportfolioopt = "*"
pandas-datareader = "*"

[dev-packages]
pytest = "*"
portfolio-analysis = {editable = true, path = "."}

[requires]
python_version = "3.8"

[scripts]
jupyter="jupyter lab"
